.classpath
.project
.settings/
.tomcatplugin
.clover/
Thumbs.db
work/
logs/
target/
database/
eclipse/
lib/
tmp/
logs/
test-result/
derby.log
precompiled
releases
*.iml
*.idea
curl_scripts
